body {
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
}

.text-orange {
    color: #FB8E48;
}

/* header section starts from here */
.header-section {
    padding-bottom: 50px;
}

.text-logo {
    width: 40%;
}

.text-logo h2 {
    margin-left: 30px;
    font-family: poppins, sans-serif;
    font-size: 30px;
}

.text-logo h2 a {
    text-decoration: none;
    color: #FB8E48;
}

.nav-area {
    background-color: rgb(240, 240, 240);
}

.nav-item {
    width: 60%;
    text-align: center;
    margin: auto 0;
}

.nav-item a {
    text-decoration: none;
    margin-right: 45px;
    color: #FB5733;
    border: 0.5px solid #FB5733;
    padding: 7px 18px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
}


.t-banner-text {
    margin-left: 5%;
    margin-top: 4%;
}

.t-banner-text h1 {
    font-family: poppins, sans-serif;
    font-size: 60px;
    line-height: 30px;
    font-weight: 700;
}

.t-banner-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: gray;
}

.top-banner-model {
    margin-left: 5%;
    margin-top: 10px;
}

.top-banner-model img {
    width: 75%;
}

.order-btn {
    color: white;
    background-image: linear-gradient(to right, #FB984C, #FE492E);
    padding: 15px 35px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    margin-top: 100px;
    font-size: 16px;
    box-shadow: 0px 0px 20px #fb9048e3;
}

.order-btn-div {
    padding-top: 30px;
}

/* header section ends from here */


/* about me section startss from here */
.about-me-section {
    background-image: url(images/about-me-bg.png);
    background-repeat: no-repeat;
    padding-top: 100px;
}

.about-me-banner-area img {
    width: 40%;
    margin-left: 27%;
}

.about-me-text-area {
    width: 35%;
    font-family: poppins, sans-serif;
}

.about-me-text-area h1 {
    font-size: 40px;
    font-weight: 600;
    color: #424242;
}


.about-me-text-area p {
    font-family: poppins, sans-serif;
    color: #707070;
}

.contact-btn {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, #FB984C, #FE492E);
    font-family: poppins, sans-serif;
    padding: 16px 30px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #fb9048e3;
}

.contact-btn-div {
    margin-top: 70px;
}

/* about me section ends from here */



/* my recipes section starts from here */

.my-recipe-title-div {
    text-align: center;
    font-family: poppins, sans-serif;
    padding: 40px 0px;
}

.my-recipe-title-div h1 {
    font-size: 35px;
    color: #424242;
    font-weight: 600;
}

.my-recipe-title-div p {
    font-size: 15px;
    color: gray;
    line-height: 10px;
}

.my-recipe-item {
    width: 25%;
    margin-left: 4%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.212);
    border: 20px solid white;
    border-radius: 20px;
    font-family: poppins, sans-serif;
}

.my-recipe-item h1 {
    font-family: poppins, sans-serif;
    font-weight: 500;
}

.my-recipe-item img {
    width: 100%;
}

/* my recipes section ends from here */



/* social media section starts from here */
.social-progress-area {
    /* text-align: center; */
    margin: 10% 5%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
}

.social-prg-item {
    font-family: sans-serif;
    width: 30%;
    margin-left: 130px;
    padding: 40px 0px;
}

.social-prg-item h1 {
    font-family: poppins, sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 0px;
}

.social-prg-item p {
    font-family: poppins, sans-serif;
    font-size: 14px;
    color: rgb(59, 59, 59);
    padding-bottom: 10px;
}

/* social media section ends from here */



/* testimonials section section ends from here */
.testimonials-section {
    margin-bottom: 100px;
}

.testimonials-section h1 {
    text-align: center;
    font-family: poppins, sans-serif;
    font-size: 35px;
    color: #424242;
    padding-bottom: 70px;
}

.testimonial-item {
    width: 25%;
    text-align: center;
    margin-left: 4%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.233);
    padding: 20px;
    border-radius: 10px;
}

.testimonial-item img {
    text-align: center;
    width: 40%;
    border-radius: 50%;
    border: 2px solid #FE4D30;
}

.testimonial-item h3 {
    font-family: poppins, sans-serif;
    color: rgb(34, 137, 255);
    font-weight: 500;
}

.testimonial-item p {
    font-family: poppins, sans-serif;
    color: rgb(61, 61, 61);
}

/* testimonials section section ends from here */



/* footer section section starts from here */

.footer-section {
    background-color: #0B0D17;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 100px;
}

.footer-section h1 {
    font-family: poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
}

.footer-section p {
    font-family: poppins, sans-serif;
    color: #c7c7c7;
}

.text-gray {
    color: #5B5B5B;
}

/* footer section section ends from here */